<div class="container">
<div class="row justify-content-between">
  <div class="col-10">
    <pre class="title"> () => &#123; Wallapop.push(carles.idea@gmail.com); &#125;;</pre>
  </div>
  <div class="col-2">
    <div
    (click)="showFavs()"
    class="d-flex justify-content-end "
    [ngClass]="(items.length > 0) ? 'pointer' : 'not-allowed'"
  >
    <p class="fav-counter align-self-center">{{ items.length }}</p>
    <i class="material-icons favourite-pink  align-self-center" *ngIf="items.length > 0">
      favorite
      </i>
    <i class="material-icons  align-self-center" *ngIf="items.length <= 0">favorite_border</i>
  </div>
  </div>

</div>

<app-favourite-modal #fav></app-favourite-modal>
