.item {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto 0 auto;
  width: auto;
  height: 150px;
  box-shadow: 1px 1px 5px #c9c9c9;
  display: flex;
  justify-content: space-between;
}
.img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 4px 0 0 4px;
  margin-bottom: 10px;
}
.title {
  align-self: center;
}
.heart {
    padding: 20px;
    align-self: flex-start;
}
//same => bootstrap SM
@media (min-width: 576px) {
  .item {
    width: 70%;
  }
}
