<div *ngIf="items" class="flex"
infiniteScroll
      [infiniteScrollDistance]="20"
      [infiniteScrollThrottle]="50"
      (scrolled)="getSomeItems()"
>
  <div *ngFor="let itm of templateItems">
    <app-item [item]="itm"></app-item>
  </div>
  <div class="btn-container" *ngIf="availableItems">
    <button class="btn" (click)="getSomeItems()">More items</button>
  </div>
</div>
<div class="btn-container" *ngIf="!availableItems">
  <button class="btn" (click)="scrollToTop()">
    <span class="material-icons">
      keyboard_arrow_up
      </span>
  </button>
</div>