.item {
  background: #fff;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 300px;
  height: 450px;
  box-shadow: 1px 1px 5px #999999;
}
.img {
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  margin-bottom: 10px;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.pink{
    color:rgb(255, 111, 188);
}
.info {
  padding: 10px;
}
div .price {
    font-size: 1.5em;
    margin-top: -4px ;
    margin-bottom: 0;
}
.title h3{
  font-size: 1.2em;
  display: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0 ;
  margin-bottom: 0;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.email {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: small;
}
// @media (max-width: 655px) {//bootstrap: 576
//     .item{
//         width: 550px;
//         // height: 300px;
//     }
//     .img{
//         float: left;
//     }
//     .info{
//     }
//}