.item {
  background: #fff;
  border-radius: 4px;
  position: relative;
margin: 10px;
  width: auto;
  box-shadow: 1px 1px 5px #999999;
}


.img-item{
  border-radius: 4px 4px 0 0;
  margin-bottom: 10px;
  width:100%
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info {
  padding: 10px;
}
div .price {
    font-size: 1.5em;
    margin-top: -4px ;
    margin-bottom: 0;
}
.title h3{
  font-size: 1.2em;
  display: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0 ;
  margin-bottom: 5px;
}

.description {
  // overflow: hidden;
  // text-overflow: ellipsis;
  // display: -webkit-box;
  // -webkit-line-clamp: 2; /* number of lines to show */
  // -webkit-box-orient: vertical;
  margin-bottom: 30px;
}
.email {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: small;
}
@media (min-width: 576px) {
    .item{
        width: 240px;
        // background-color: red;
    }
}

// @media (max-width: 576px) {
//   .item{
//       width: 100% !important;
//       // background-color: red;
//   }
// }
@media (min-width: 768px) {
  .item{
      width: 324px;
      // background-color: orange;
  }
}
@media (min-width: 992px) {//bootstrap: 576
  .item{
      width: 293px;
      // background-color: green;
  }
}
@media (min-width: 1200px) {//bootstrap: 576
  .item{
      width: 330px;
      // background-color: blue;
  }
}